.chat-box {
    border-radius: 0.5em;
    padding: 10px;
    border: 2px solid #b3b0b0;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 1000px;
    height: 650px;
}

.chat-date {
    color: #c9c8c8;
}

.scrollbar {
    overflow: hidden;
    overflow-y: auto;
}

.scrollbar::-webkit-scrollbar {
    width: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
}

.scrollbar::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
}