.main-box {
    border-radius: 0.5em;
    padding: 7px 10px 5px 10px;
    border: 2px solid #b3b0b0;
    margin: 10px 0 15px 0;
    max-width: 1000px;
    width: 90%;
    height: 604px;
}

.chat-box {
    border-radius: 0.5em;
    padding: 10px;
    border: 2px solid #b3b0b0;
    margin: 10px 0 15px 0;
    max-width: 1000px;
    width: 90%;
}

.chat-date {
    color: #c9c8c8;
}

.scrollbar {
    overflow: hidden;
    overflow-y: auto;
}

.scrollbar::-webkit-scrollbar {
    width: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
}

.scrollbar::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
}

@media (max-width: 767px) {
    .main-box {
        margin: 10px 0 0 0;
    }
}