.white-bg {
    width: 500px;
    min-height: 10vh;
    height: auto;
    background: white;
    border-radius: 8px;
    position: fixed;
    padding: 20px;
    left: 50%;
    transform: translate(-50%, 0);
}