.white-bg {
    width: 250px;
    min-height: 10vh;
    height: auto;
    background: white;
    border-radius: 8px;
    position: fixed;
    padding: 20px;
    left: 50%;
    top: 25%;
    transform: translate(-50%, 0);
}